# Instock CT - Streamlit Community Cloud
# Set this file as requirements on https://share.streamlit.io/

pandas>=2.2.0
streamlit==1.41.1
streamlit-javascript==0.1.5
matplotlib>=3.8.0
openpyxl>=3.1.0
xlrd>=2.0.1
